<component name="libraryTable">
  <library name="spring-jdbc-4.2.4.RELEASE">
    <CLASSES>
      <root url="jar://F:/javaweb类库/jdbcTemplate的jar包/spring-jdbc-4.2.4.RELEASE.jar!/" />
      <root url="jar://F:/javaweb类库/jdbcTemplate的jar包/spring-tx-4.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>